
    table {     font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        font-size:  2vw;    margin: 45px;     width: 90%; text-align: left;    border-collapse: collapse; }
    
    th {     font-size:  2vw;     font-weight: normal;     padding: 8px;     background: #1abc9c;
        border-top: 4px solid #aabcfe;    border-bottom: 1px solid #fff; color: #fff; }
    
    td {    padding: 8px;     background: #9ac2ba;     border-bottom: 1px solid #fff;
        color: #fff;    border-top: 1px solid transparent; }
    
    tr:hover td { background: #0aad8d; color: #fff; }