<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #a7e0aa;">

    <a class="navbar-brand" href="#">Veterinaria</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Registro Clientes <span class="sr-only">(current)</span></a>
        
      </div>
    </div>
  </nav>
<div class="container">

    <!-- Image and text -->
<!-- Image and text -->
<br>
<form>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Registro de Clientes</h1>
          <p class="lead">"Los animales no son propiedades o cosas, sino organismos vivientes, sujetos de una vida, que merecen nuestra compasión, respeto, amistad y apoyo"</p>
        </div>
      </div>
    <div class="form-row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Nombre">
      </div>
      <div class="col">
        <input type="number" class="form-control" placeholder="DUI">
      </div>
    </div>
    <br>
    <div class="form-row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Nombre de Mascota">
        </div>
        <div class="col">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Tratamiento"></textarea>
        </div>
        <div class="col">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Medicamento"></textarea>
         </div>
      </div>
      <br>
      <div class="form-row">
        <div class="col">
          <input type="number" class="form-control" placeholder="Costo $">
        </div>
      </div>
      <br>
      <button type="button" class="btn  btn-lg" style="background-color: #a7e0aa;">Registrar</button>
      <br>
    </form>
    
    <label>Nombre:</label>
    <input type="text" [(ngModel)]="nombre">
    <label>Sueldo:</label>
    <input type="text" [(ngModel)]="sueldo">
    <button class="button" (click)="ingresar()">Calcular</button>
    <br/><br/>
    <table [hidden]="contador == 0">
    <thead>
    <tr>
    <th>Nombre</th>
    <th>Sueldo</th>
    <th>Descuento ISSS</th>
    <th>Descuento Renta</th>
    <th>Descuento AFP</th>
    <th>Sueldo Neto</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let templeado of registro">
        <td>{{templeado.nombre}}</td>
        <td>{{templeado.sueldo}}</td>
        <td>{{templeado.isss}}</td>
        <td>{{templeado.renta}}</td>
        <td>{{templeado.afp}}</td>
        <td>{{templeado.sueldoNeto}}</td>
        </tr>
        </tbody>
        </table>

</div>